.result-table-container {
	width: 90% !important;
	max-width: 500px;
	margin: 0px auto;
	display: block;
}

body {
    background-color: #2d2d2d;
}

.Result {
  background-color: #222;
  color: #fff;
  border-color: #77e;
}
